soundfile
torch
torchvision
torchaudio
torchtext~=0.6.0
torchmetrics~=0.2.0
librosa
albumentations
torch_pitch_shift
matplotlib
tqdm
moviepy
noisereduce
omegaconf==2.0.0
pytorch_lightning~=1.2.10
jsonargparse[signatures]>=4.27.7
test-tube
